/*!
 * This is CSS that I have written to extend bootstrap.css v3.3.2; originally I had incorporated
 * the changes directly into bootstrap.css and later learned the error of my ways.
 */

.body {
    background-color: #92AD9D !important;
}

.navbar-default {
    padding: 15px;
    padding-bottom: 0px;
    background-color: #FFCC66;
}

.jumbotron {
  margin-left: 50px;
  margin-right: 50px; 
  padding: 10px;
  background-color: #FFFFFF;
}

.ui-slider .ui-slider-handle {
    width: 15px;   
  	margin-left: -15px;
}

.row {
	padding: 15px;
}

.controls {
	background-color: #FFAA44;
}

.glyphicon {
	margin-left: 10px;
}

input[type="checkbox"] {
	margin-right: 10px;
}

.ui-tooltip {
    max-width: 400px;
    z-index: 100;
}